<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="C:/Users/Anton Vigil Dajalos/OneDrive/Desktop/dashboard ui/AdminDashboard/template/css/doctor.css">
    <title>Doctor</title>
</head>
<body>
    <a href="#" class="btn">Add New</a>
    <h1>Doctor List</h1>


    <table>
        <tr id="header">
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Last Name</th>
            <th>Suffix</th>
            <th>Specialization</th>
            <th>Barangay</th>
            

        </tr>

        <tr>
            <td>Carlos</td>
            <td>A</td>
            <td>Bellen</td>
            <td></td>
            <td>General Practicioner</td>
            <td>171</td>
            

        </tr>
        <tr>
            <td>Emman</td>
            <td>Monfort</td>
            <td>Legaspi</td>
            <td></td>
            <td>Prenatal Care Practicioner</td>
            <td>173</td>
            

        </tr>
        <tr>
            <td>Miguel</td>
            <td>A</td>
            <td>Villamin</td>
            <td>jr</td>
            <td>Dental </td>
            <td>174</td>

        </tr>
        <tr>
            <td>Jomarie</td>
            <td>A</td>
            <td>Jalondon</td>
            <td></td>
            <td>General Practicioner</td>
            <td>176</td>
           

        </tr>
        

    </table>
</body>
</html>