<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Doctors Registration Form</title>
  <link rel="stylesheet" href="css/doctors.css">

</head>
<body>
<!-- partial:index.partial.html -->
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Doctors Registration Form</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/doctors.css">
</head>

<body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <header class="card-header">
            <h4 class="card-title mt-2">Doctor Registration Form</h4>
          </header>
          <article class="card-body">
            <form>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <label>First Name</label>
                  <input type="text" class="form-control" placeholder="First Name" required>
                </div>

                <div class="form-group col-md-6">
                  <label>Middle Name(Optional)</label>
                  <input type="text" class="form-control" placeholder="Middle Name" required>
                </div>

                <div class="form-group col-md-6">
                  <label>Last Name</label>
                  <input type="text" class="form-control" placeholder="Last Name" required>
                </div>

                <div class="form-group col-md-6">
                  <label>Suffix(Sr,Jr,II)</label>
                  <input type="text" class="form-control" placeholder="Suffix" required>
                </div>

                <div class="form-group col-md-6">
                  <label>Specialization</label>
                  <input type="text" class="form-control" placeholder="Specialization" required>
                </div>

                <div class="form-group col-md-6">
                  <label>Barangay</label>
                  <input type="text" class="form-control" placeholder="Barangay" required>
                </div>
              </div>



             
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Register</button>
                <div class="mt-2">
                 <a href="#">Close</a>
                </div>
              </div>
            </form>
          </article>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
<!-- partial -->
  
</body>
</html>
