<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="C:/Users/Anton Vigil Dajalos/OneDrive/Desktop/dashboard ui/AdminDashboard/template/css/event.css">
    <title>Events</title>
</head>
<body>
    <a href="#" class="btn">Add New</a>
    <h1>Events</h1>


    <table>
        <tr id="header">
            <th>Event</th>
            <th>Date</th>
            <th>Brgy</th>
            <th>Location</th>
            

        </tr>

        <tr>
            <td>Birthday ni Aguibay</td>
            <td>11/06/2023</td>
            <td>177</td>
            <td>Korean Court</td>
            

        </tr>
        <tr>
            <td>Libre Tuli</td>
            <td>11/08/2023</td>
            <td>176</td>
            <td>Barangay Health Center</td>
            

        </tr>
        <tr>
            <td>Birthday ni Anton</td>
            <td>11/09/2023</td>
            <td>176</td>
            <td>Antons House</td>
            

        </tr>
        <tr>
            <td>Carlos</td>
            <td>A</td>
            <td>Bellen</td>
           

        </tr>
        

    </table>
</body>
</html>


        