<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="C:/Users/Anton Vigil Dajalos/OneDrive/Desktop/dashboard ui/AdminDashboard/template/css/patient.css">
    <title>Patient</title>
</head>
<body>
    <a href="#" class="btn">Add New</a>
    <h1>Patients</h1>

    <table>
        <tr id="header">
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Last Name</th>
            <th>Suffix</th>
            <th>Age</th>
            <th>Contact Number</th>
            <th>Brgy</th>
            <th>Disease</th>    
            <th>Status</th>
            

        </tr>
        <tr>
            <td>Miguel</td>
            <td>San</td>
            <td>San</td>
            <td></td>
            <td>67</td>
            <td>0923232323</td>
            <td>176</td>
            <td>Diabetes</td>
            <td>Not Ok</td>

        </tr>
        <tr>
            <td>Miguel</td>
            <td>San</td>
            <td>San</td>
            <td>Jr</td>
            <td>67</td>
            <td>0923232323</td>
            <td>176</td>
            <td>Diabetes</td>
            <td>Not Ok</td>

        </tr>
        <tr>
            <td>Miguel</td>
            <td>San</td>
            <td>San</td>
            <td>Jr</td>
            <td>67</td>
            <td>0923232323</td>
            <td>176</td>
            <td>Diabetes</td>
            <td>Not Ok</td>

        </tr>
        <tr>
            <td>Miguel</td>
            <td>San</td>
            <td>San</td>
            <td></td>
            <td>67</td>
            <td>0923232323</td>
            <td>176</td>
            <td>Diabetes</td>
            <td>Not Ok</td>

        </tr>
    </table>
    
</body>
</html>