<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" a href="C:/Users/Anton Vigil Dajalos/OneDrive/Desktop/dashboard ui/AdminDashboard/template/css/usertable.css">
</head>
<body>
    <h1>Users</h1>
    <table>
    <tr>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Middle Name</th>
        <th>Suffix</th>
        <th>Age</th>
        <th>Address</th>
        <th>City</th>
        <th>Barangay</th>
        <th>Zip Code</th>
        <th>Contact Num</th>
        <th>email</th>
    </tr>
    <tr>
        <td>Malapitan</td>
        <td>Along</td>
        <td>Madla</td>
        <td>Jr.</td>
        <td>35</td>
        <td>Phase 9 pkg6 blk 57 lot 8</td>
        <td>Caloocan </td>
        <td>173</td>
        <td>2019</td>
        <td>0923232323</td>
        <td>ocamalapitan@gmail.com</td>
        

    </tr>
    <tr>
        <td>Malapitan</td>
        <td>Along</td>
        <td>Madla</td>
        <td>Jr.</td>
        <td>35</td>
        <td>Phase 9 pkg6 blk 57 lot 8</td>
        <td>Caloocan </td>
        <td>173</td>
        <td>2019</td>
        <td>0923232323</td>
        <td>ocamalapitan@gmail.com</td>
        

    </tr>
    <tr>
        <td>Malapitan</td>
        <td>Along</td>
        <td>Madla</td>
        <td></td>
        <td>35</td>
        <td>Phase 9 pkg6 blk 57 lot 8</td>
        <td>Caloocan </td>
        <td>173</td>
        <td>2019</td>
        <td>0923232323</td>
        <td>ocamalapitan@gmail.com</td>
        

    </tr>
    <tr>
        <td>Malapitan</td>
        <td>Along</td>
        <td>Madla</td>
        <td></td>
        <td>35</td>
        <td>Phase 9 pkg6 blk 57 lot 8</td>
        <td>Caloocan </td>
        <td>173</td>
        <td>2019</td>
        <td>0923232323</td>
        <td>ocamalapitan@gmail.com</td>
        

    </tr>
    
   
    
</table>   
</body>
</html>